[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
djangorestframework = "*"
pillow = "*"
django-storages = "*"
jwt = "*"
pyjwt = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
